<div class="app-header" data-aos="fade-in">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container d-block">
      <div class="d-flex align-items-center">
        <button class="navbar-toggler p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
          </svg>
        </button>
        <a class="navbar-brand " href="#" data-aos="fade-right" data-aos-duration="1000" >
          
          <img src="{{webRoot}}/assets/images/_logo-black.svg" alt="Luciluna"/>
        </a>
        <div class="collapse flex-grow-1 navbar-collapse main-navbar" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1" data-aos="fade-left" data-aos-duration="1000" >
            <li class="nav-item">
              <a class="nav-link move-to active" aria-current="page" href="#about">
                About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link move-to" href="#solutions">
                Solutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link move-to "  href="#doctors">
                Doctors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link move-to" href="#career">
                Career </a>
            </li>
            <li class="nav-item">
              <a class="nav-link move-to" href="#contact">
                Contact Us </a>
            </li>
          </ul>
        </div>
        <div class="language">
          <ul class="nav ms-4 nav-pills d-none d-lg-flex">
            <li class="lang-item lang-item-25 lang-item-en lang-item-first">
              <a class="text-decoration-none text-black" lang="vi-VN" hreflang="vi-vn"  href="">
                VIE
                <!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAATlBMVEX+AAD2AADvAQH/eXn+cXL9amr8YmL9Wlr8UlL7TkvoAAD8d0f6Pz/3ODf2Ly/0KSf6R0f6wTv60T31IBz6+jr4+Cv3QybzEhL4bizhAADgATv8AAAAW0lEQVR4AQXBgU3DQBRAMb+7jwKVUPefkQEQTYJqByBENpKUGoZslXoN5LPONH8G9WWZ7pGlOn6XZmaGRce1J/seei4dl+7dPWDqkk7+58e3+igdlySPcYbwBG+lPhCjrtt9EgAAAABJRU5ErkJggg==" alt="English" width="21" height="16" > -->
              </a>
              <!-- <span>/</span> -->
              <!-- <a class="text-decoration-none text-black" lang="vi-VN" hreflang="en-GB"  href="">
                ENG -->
                <!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAATlBMVEX+AAD2AADvAQH/eXn+cXL9amr8YmL9Wlr8UlL7TkvoAAD8d0f6Pz/3ODf2Ly/0KSf6R0f6wTv60T31IBz6+jr4+Cv3QybzEhL4bizhAADgATv8AAAAW0lEQVR4AQXBgU3DQBRAMb+7jwKVUPefkQEQTYJqByBENpKUGoZslXoN5LPONH8G9WWZ7pGlOn6XZmaGRce1J/seei4dl+7dPWDqkk7+58e3+igdlySPcYbwBG+lPhCjrtt9EgAAAABJRU5ErkJggg==" alt="English" width="21" height="16" > -->
              <!-- </a> -->
              <!-- <a lang="en-GB" hreflang="en-GB" >
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAt1BMVEWSmb66z+18msdig8La3u+tYX9IaLc7W7BagbmcUW+kqMr/q6n+//+hsNv/lIr/jIGMnNLJyOP9/fyQttT/wb3/////aWn+YWF5kNT0oqz0i4ueqtIZNJjhvt/8gn//WVr/6+rN1+o9RKZwgcMPJpX/VFT9UEn+RUX8Ozv2Ly+FGzdYZrfU1e/8LS/lQkG/mbVUX60AE231hHtcdMb0mp3qYFTFwNu3w9prcqSURGNDaaIUMX5FNW5wYt7AAAAAjklEQVR4AR3HNUJEMQCGwf+L8RR36ajR+1+CEuvRdd8kK9MNAiRQNgJmVDAt1yM6kSzYVJUsPNssAk5N7ZFKjVNFAY4co6TAOI+kyQm+LFUEBEKKzuWUNB7rSH/rSnvOulOGk+QlXTBqMIrfYX4tSe2nP3iRa/KNK7uTmWJ5a9+erZ3d+18od4ytiZdvZyuKWy8o3UpTVAAAAABJRU5ErkJggg==" alt="English" width="21" height="16" >
              </a> -->
            </li>
        </ul>
        </div>
      </div>
      
    </div>
  </nav>
</div>


