<footer class="app-footer" >
    <div class="container d-block">
        <div class="d-md-flex align-items-center flex-wrap">
          
          <a class="navbar-brand " href="#"  >
            Luciluna
            <!-- <img src="{{webRoot}}/assets/images/logo.webp"/> -->
          </a>
          <div class=" flex-grow-1 footer-navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1 flex-row align-items-center" >
              <li class="nav-item">
                <a class="nav-link move-to active" aria-current="page" href="#about">
                  About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link move-to" href="#solutions">
                  Solutions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link move-to "  href="#doctors">
                  Doctors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link move-to" href="#career">
                  Career </a>
              </li>
              <li class="nav-item">
                <a class="nav-link move-to" href="#contact">
                  Contact Us </a>
              </li>
            </ul>
          </div>
          <div class="copy-right text-uppercase text-center">
            ©2023 Luciluna,<br/> ALL RIGHTS RESERVED
          </div>
        </div>
        
      </div>
    
</footer>

    <!-- Vendor JS -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="{{webRoot}}/assets/js/vendor.bundle.js"></script>
    <!-- Theme JS -->
    <script src="{{webRoot}}/assets/js/theme.bundle.js"></script>
