<section class="cards-block  ">
    <div class="swiper swiper-box">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-wrapper">
            <div class="swiper-slide position-relative">
                <div class="card-in light-pink" >
                    <div class="ratio ratio-1x1">
                        <img src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit/Hers/homepage/Updates/Hers-Skin-AntiAging-UGC-3-MeganJones">
                    </div>
                    <div class="title"  data-aos="fade-left" >SKINCARE</div>	  
                </div>

            </div>
            <div class="swiper-slide position-relative ">
                <div class="card-in pink" >
                    <div class="ratio ratio-1x1">
                        <img src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit,q_auto:eco/Hers/homepage/Updates/new/Hers-Home-HairQuiz-d">
                    </div>
                    <div class="title"  data-aos="fade-left" >NUTRITION</div>	
                    
                </div>
            </div>
            <div class="swiper-slide position-relative" >
                <div class="card-in">
                    <div class="ratio ratio-1x1">
                        <img src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit/Hers/homepage/Updates/Hers-Homepage-UGC-1-DoraPina">
                    </div>
                    <div class="title"  data-aos="fade-left" >SEXUAL & REPRODUCTIVE HEALTH	</div>
                    
                </div>
            </div>
            <div class="swiper-slide position-relative">
                <div class="card-in green" >
                    <div class="ratio ratio-1x1">
                        <img src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit,q_auto:eco/Hers/homepage/Updates/new/Hers-Home-HairQuiz-d">
                    </div>
                    <div class="title"  data-aos="fade-left" >MOM & BABY</div>	
                    
                </div>
            </div>
            <div class="swiper-slide position-relative">
                <div class="card-in light-pink" >
                    <div class="ratio ratio-1x1">
                        <img src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit,q_auto:eco/Hers/homepage/Updates/new/Hers-Home-HairQuiz-d">
                    </div>
                    <div class="title"  data-aos="fade-left" >Cancer Care</div>	
                </div>

            </div>
            <div class="swiper-slide position-relative ">
                <div class="card-in pink" >
                    <div class="ratio ratio-1x1">
                        <img src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit,q_auto:eco/Hers/homepage/Updates/new/Hers-Home-HairQuiz-d">
                    </div>
                    <div class="title"  data-aos="fade-left" >Traditional Medicine</div>	
                </div>
            </div>
            
        </div>
    </div>
</section>
