<section  class="slider-block" id="doctors" >
    <div class="slider-content swiper">
        
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url({{webRoot}}/assets/images/d7ca78_3c3574f3b75d45b3a96bce58d72bc7d8_mv2_d_2000_1414_s_2.webp) ;">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <img width="100" src="{{webRoot}}/assets/images/_logo-black.svg" alt="" />
                            <h3 class="mb-5">Our Doctors</h3>
                            <p class="mb-5">
                                We partner with top-notch medical professional who passionate about sharing and helping the community. Together we want to elevate health literacy and make high-quality healthcare solutions accessible to the masses
                            </p>
                            
                        </div>
                    </div>
                </div>		
            </div>
            
         </div>
    </div>
    <div class="persons py-lg-5 py-3">
        <div class="container">
            <div class="swiper persons-swiper">
                
                <div class="swiper-wrapper">
                    <div class="swiper-slide ">
                        <div class="card-person" >
                            <div class="ratio ratio-1x1" >
                                <img data-aos="flip-left" data-aos-duration="1000"  src="assets/images/anh-chu-cam.png" alt="" />
                            </div>
                            <div class="name mb-3"  data-aos="fade-up" >GS.TSKH Phung Dac Cam</div>	
                            <div class="position mb-4"  data-aos="fade-up" >OBGYN 
                                Head of OBGYN Department - National Hospital of OBGYN</div>	
                        </div>
        
                    </div>
                    <div class="swiper-slide ">
                        <div class="card-person" >
                            <div class="ratio ratio-1x1">
                                <img data-aos="flip-left" data-aos-duration="1000" src="assets/images/nguyen-quang-bac-1.jpeg" alt="" />
                            </div>
                            <div class="name mb-3"  data-aos="fade-up" >Bac Nguyen Quang</div>	
                            <div class="position mb-4"  data-aos="fade-up" >OBGYN 
                                Head of OBGYN Department - National Hospital of OBGYN</div>	
                        </div>
        
                    </div>
                    <div class="swiper-slide ">
                        <div class="card-person" >
                            <div class="ratio ratio-1x1">
                                <img data-aos="flip-left" data-aos-duration="1000" src="assets/images/nguyen-cong-doanh.jpeg" alt="" />
                            </div>
                            <div class="name mb-3"  data-aos="fade-up" >Nguyen Cong Doanh</div>	
                            <div class="position mb-4"  data-aos="fade-up" >OBGYN 
                                Head of OBGYN Department - National Hospital of OBGYN</div>	
                        </div>
        
                    </div>
    
                    <div class="swiper-slide ">
                        <div class="card-person" >
                            <div class="ratio ratio-1x1">
                                <img data-aos="flip-left" data-aos-duration="1000" src="assets/images/thang.jpeg" alt="" />
                            </div>
                            <div class="name mb-3"  data-aos="fade-up" >PGS.Vu Hong Thang</div>	
                            <div class="position mb-4"  data-aos="fade-up" >OBGYN 
                                Head of OBGYN Department - National Hospital of OBGYN</div>	
                        </div>
        
                    </div>
                    <div class="swiper-slide ">
                        <div class="card-person" >
                            <div class="ratio ratio-1x1" >
                                <img data-aos="flip-left" data-aos-duration="1000"  src="assets/images/anh-chu-cam.png" alt="" />
                            </div>
                            <div class="name mb-3"  data-aos="fade-up" >GS.TSKH Phung Dac Cam</div>	
                            <div class="position mb-4"  data-aos="fade-up" >OBGYN 
                                Head of OBGYN Department - National Hospital of OBGYN</div>	
                        </div>
        
                    </div>
                    <div class="swiper-slide ">
                        <div class="card-person" >
                            <div class="ratio ratio-1x1">
                                <img data-aos="flip-left" data-aos-duration="1000" src="assets/images/nguyen-quang-bac-1.jpeg" alt="" />
                            </div>
                            <div class="name mb-3"  data-aos="fade-up" >Bac Nguyen Quang</div>	
                            <div class="position mb-4"  data-aos="fade-up" >OBGYN 
                                Head of OBGYN Department - National Hospital of OBGYN</div>	
                        </div>
        
                    </div>
                    <div class="swiper-slide ">
                        <div class="card-person" >
                            <div class="ratio ratio-1x1">
                                <img data-aos="flip-left" data-aos-duration="1000" src="assets/images/nguyen-cong-doanh.jpeg" alt="" />
                            </div>
                            <div class="name mb-3"  data-aos="fade-up" >Nguyen Cong Doanh</div>	
                            <div class="position mb-4"  data-aos="fade-up" >OBGYN 
                                Head of OBGYN Department - National Hospital of OBGYN</div>	
                        </div>
        
                    </div>
    
                    <div class="swiper-slide ">
                        <div class="card-person" >
                            <div class="ratio ratio-1x1">
                                <img data-aos="flip-left" data-aos-duration="1000" src="assets/images/thang.jpeg" alt="" />
                            </div>
                            <div class="name mb-3"  data-aos="fade-up" >PGS.Vu Hong Thang</div>	
                            <div class="position mb-4"  data-aos="fade-up" >OBGYN 
                                Head of OBGYN Department - National Hospital of OBGYN</div>	
                        </div>
        
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
