<section  class="hero-block hero-full-image" >
    <div class="hero-slider swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                 <a href="">
                     <img src="{{webRoot}}/assets/images/hero1.webp" alt="" />
                 </a>
            </div>
            <div class="swiper-slide">
                 <a href="">
                     <img src="{{webRoot}}/assets/images/hero2.webp" alt="" />
                 </a>
             </div>
             <div class="swiper-slide">
                 <a href="">
                     <img src="{{webRoot}}/assets/images/hero3.webp" alt="" />
                 </a>
             </div>
            <div class="swiper-slide">
                 <a href="">
                     <img src="{{webRoot}}/assets/images/hero4.webp" alt="" />
                 </a>
             </div>
             <div class="swiper-slide">
                 <a href="">
                     <img src="{{webRoot}}/assets/images/hero5.webp" alt="" />
                 </a>
             </div>
         </div>
         <div class="swiper-pagination"></div>
     
         <!-- If we need navigation buttons -->
         <div class="swiper-button-prev"></div>
         <div class="swiper-button-next"></div>
    </div>
</section>
