<section  class="hero-block hero-full-image" >
    <div class="hero-slider swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                 <a href="">
                     <img class="d-none d-md-block" src="{{webRoot}}/assets/images/hero1.webp" alt="" />
                     <img class="d-block d-md-none" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit,q_auto:eco/Hers/homepage/Updates/new/Hers-Home-HairQuiz-d" alt="" />
                 </a>
            </div>
            <div class="swiper-slide">
                 <a href="">
                     <img class="d-none  d-md-block" src="{{webRoot}}/assets/images/hero2.webp" alt="" />
                     <img class="d-block d-md-none" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit,q_auto:eco/Hers/homepage/Updates/new/Hers-Home-HairQuiz-d" alt="" />
                 </a>
             </div>
             <div class="swiper-slide">
                 <a href="">
                     <img class="d-none  d-md-block" src="{{webRoot}}/assets/images/hero3.webp" alt="" />
                     <img class="d-block d-md-none" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit,q_auto:eco/Hers/homepage/Updates/new/Hers-Home-HairQuiz-d" alt="" />
                 </a>
             </div>
            <div class="swiper-slide">
                 <a href="">
                     <img class="d-none  d-md-block" src="{{webRoot}}/assets/images/hero4.webp" alt="" />
                     <img class="d-block d-md-none" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit,q_auto:eco/Hers/homepage/Updates/new/Hers-Home-HairQuiz-d" alt="" />
                 </a>
             </div>
             <div class="swiper-slide">
                 <a href="">
                     <img class="d-none  d-md-block" src="{{webRoot}}/assets/images/hero5.webp" alt="" />
                     <img class="d-block d-md-none" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit,q_auto:eco/Hers/homepage/Updates/new/Hers-Home-HairQuiz-d" alt="" />
                 </a>
             </div>
         </div>
         <div class="swiper-pagination"></div>
     
         <!-- If we need navigation buttons -->
         <div class="swiper-button-prev"></div>
         <div class="swiper-button-next"></div>
    </div>
</section>
