<section  class="slider-block " >
    <div class="slider-content swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url({{webRoot}}/assets/images/d7ca78_3c3574f3b75d45b3a96bce58d72bc7d8_mv2_d_2000_1414_s_2.webp) ;">
                <div class="card bg-dark">
                    <div class="card-body">
                        <div>
                            <img width="100" src="{{webRoot}}/assets/images/_logo.svg" alt="" />
                            <h3 class="mb-5">Be Part of our Leading Doctor Network</h3>
                            <p class="mb-5">
                                At Luciluna, we believe that healthcare is a human right, and we strive to create an environment where healthcare professionals and employees can flourish and find joy in making a difference in the lives of others. Join us in our mission to make healthcare accessible to all</p>
                            <a class="btn btn-primary move-to" href="#contact">Join us</a>
                        </div>
                    </div>
                </div>		
                <!-- <img class="img" src="{{webRoot}}/assets/images/d7ca78_3c3574f3b75d45b3a96bce58d72bc7d8_mv2_d_2000_1414_s_2.webp" alt="" /> -->
            </div>
            <div class="swiper-slide" style="background-image:url({{webRoot}}/assets/images/d7ca78_11402cf1ba74468da88860b4fe728a5d_mv2_d_2000_1832_s_2.webp) ;">
                <div class="card bg-white">
                    <div class="card-body">
                        <div>
                            <img  src="{{webRoot}}/assets/images/_logo-black.svg" alt="" />
                            <h3 class="mb-5">Be Part of our Leading Doctor Network</h3>
                            <p class="mb-5">
                                At Luciluna, we believe that healthcare is a human right, and we strive to create an environment where healthcare professionals and employees can flourish and find joy in making a difference in the lives of others. Join us in our mission to make healthcare accessible to all</p>
                            <a class="btn btn-primary move-to" href="#contact">Join us</a>
                        </div>
                    </div>
                </div>
                <!-- <img class="img" src="{{webRoot}}/assets/images/d7ca78_11402cf1ba74468da88860b4fe728a5d_mv2_d_2000_1832_s_2.webp" alt="" /> -->
             </div>
             <div class="swiper-slide" style="background-image:url({{webRoot}}/assets/images/d7ca78_6c78bae59aa4438a92be190386d48194_mv2_d_2000_1500_s_2.webp) ;">
                <div class="card bg-white">
                    <div class="card-body">
                        <div>
                            <img  src="{{webRoot}}/assets/images/_logo-black.svg" alt="" />
                            <h3 class="mb-5">Be Part of our Leading Doctor Network</h3>
                            <p class="mb-5">
                                At Luciluna, we believe that healthcare is a human right, and we strive to create an environment where healthcare professionals and employees can flourish and find joy in making a difference in the lives of others. Join us in our mission to make healthcare accessible to all</p>
                            <a class="btn btn-primary move-to" href="#contact">Join us</a>
                        </div>
                    </div>
                </div>
                <!-- <img class="img" src="{{webRoot}}/assets/images/d7ca78_6c78bae59aa4438a92be190386d48194_mv2_d_2000_1500_s_2.webp" alt="" /> -->
             </div>
            
             
         </div>
         <div class="swiper-pagination"></div>
     
         <!-- If we need navigation buttons -->
         <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 11"><path fill="#ffffff" d="m33.5 0-.7.7L37.1 5H0v1h37.1l-4.3 4.3.7.7L39 5.5z"></path></svg>
         </div>
         <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 11"><path fill="#ffffff" d="m33.5 0-.7.7L37.1 5H0v1h37.1l-4.3 4.3.7.7L39 5.5z"></path></svg>
         </div>
    </div>
</section>
