<section  class="text-center  solutions-block"  id="solutions">
    <div class="bg-pink title-block section-tpl ">
        <div class="container">
            <h2 class="text-black mb-0" data-aos="fade-up" data-aos-duration="1000">Our Solutions							
            </h2>
        </div>
    </div>
   
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-6 mb-5 mb-md-0 ">
                <div class="des">
                    <h3 data-aos="fade-up" data-aos-duration="1000">
                        Services
                    </h3>
                    <div class="text f-14" data-aos="fade-up" data-aos-duration="1000">
                        <p> Personal Branding Development</p>
                        <p> Social Content Production </p>
                        <p> Social Selling Operation	</p>	
                    </div>
                        
                </div>
            </div>
            <div class="col-md-6 bg-dark">
                <div class="des">
                    <h3 data-aos="fade-up" data-aos-duration="1000">
                        Benefits
                    </h3> 
                    <div class="text f-14" data-aos="fade-up" data-aos-duration="1000">
                        <p> Gain popularity </p>
                        <p>  Attract more customers</p>
                        <p>  Earn extra income	</p>
                    </div>	
                </div>
            </div>
    
        </div>
    </div>

    <div class="container-fluid g-0">
        <div class="row g-0">
            <div class="col-md-4 col" data-aos="zoom-in" data-aos-duration="1000">
                <div class="ratio ratio-1x1">
                    <img class="object-fit-cover" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit/Hers/homepage/kristen-bell/Hers-Home-KB-d" />
                </div>
            </div>
            <div class="col-md-4 col" data-aos="zoom-in" data-aos-duration="1000">
                <div class="ratio ratio-1x1">
                    <img class="object-fit-cover" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit,q_auto:eco/Hers/homepage/Updates/new/Hers-Home-HairQuiz-d" />
                </div>
            </div>
            <div class="col-md-4 col" data-aos="zoom-in" data-aos-duration="1000">
                <div class="ratio ratio-1x1">
                    <img class="object-fit-cover" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit/Hers/homepage/Updates/new/Hers-Hair-d" />
                </div>
            </div>
        </div>
       
        
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-6 mb-5 mb-md-0 bg-dark">
                <div class="des">
                    <h3 data-aos="fade-up" data-aos-duration="1000">
                        For Brand                      
                    </h3>
                    <div class="text f-14" data-aos="fade-up" data-aos-duration="1000">
                        <p>  Brand Incubation </p>
                        <p> SEA Market Penetration		</p>
                    </div>
                        
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="des">
                    <h3 data-aos="fade-up" data-aos-duration="1000">
                        For Customers       
                    </h3> 
                    <div class="text f-14" data-aos="fade-up" data-aos-duration="1000">
                        <p>  Medical knowledges  </p>
                        <p>  Personalized online consultation</p>
                        <p>  Health and beauty products	</p>
                    </div>	
                </div>
            </div>
    
        </div>
    </div>


    <div class="container-fluid g-0">
        <div class="row g-0">
            <div class="col-md-6 col" data-aos="zoom-in" data-aos-duration="1000">
                <div class="ratio ratio-1x1">
                    <img class="object-fit-cover" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit/Hers/homepage/Updates/Hers-Homepage-UGC-1-DoraPina" />
                </div>
            </div>
            <div class="col-md-6 col" data-aos="zoom-in" data-aos-duration="1000">
                <div class="ratio ratio-1x1">
                    <img class="object-fit-cover" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit/Hers/homepage/Updates/Hers-Skin-AntiAging-UGC-3-MeganJones" />
                </div>
            </div>
        </div>
    </div>
    


</section>
