<section  class="text-center  section-tpl solutions-block bg-dark"  id="solutions">
    <div class="container ">
        <div class="container">
            <h3 class="mb-4 text-primary" data-aos="fade-up" data-aos-duration="1000">Our Solutions							
            </h3>
            <p class="mb-4 h5 text-primary" data-aos="fade-up" data-aos-duration="1000">For doctors</p>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0 ">
                <div class="des text-start">
                    <h5 class="text-primary" data-aos="fade-up" data-aos-duration="1000">
                        <span>Services</span>
                    </h5>
                    <div class="row-swiper swiper  text-center f-14" data-aos="fade-up" data-aos-duration="1000">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image">
                                    <img class="mb-4" src="https://static.wixstatic.com/media/d7ca78_065634d833754d4f950e2bb343d31a3a~mv2.png/v1/fill/w_148,h_148,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/icubation_.png" width="40" /> 
                                </div>
                                <div class="text">Personal <br/>Branding Development</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img class="mb-4" src="https://static.wixstatic.com/media/d7ca78_246a70beb94b4e3f9a323de1ff533b85~mv2.png/v1/fill/w_160,h_136,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/asianmarket_.png" width="40" /> 
                                </div>
                                <div class="text"> Social <br/>Content Production</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img class="mb-4" src="https://static.wixstatic.com/media/d7ca78_8270bf783b134c699aee8cb5e3f031d8~mv2.png/v1/fill/w_158,h_160,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/bizdev.png" width="40" /> 
                                </div>
                                <div class="text">Social <br/>Selling Operation</div>
                            </div>
                        </div>
                        
                       
                    </div>
                        
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="des text-start">
                    <h5 class="text-primary" data-aos="fade-up" data-aos-duration="1000">
                        <span>Benefits</span>
                    </h5> 
                    <div class="row-swiper swiper  text-center  f-14" data-aos="fade-up" data-aos-duration="1000">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image">
                                    <img class="mb-4" src="https://static.wixstatic.com/media/d7ca78_ebdf2e3fb4d04e2495636d92b40ec3ac~mv2.png/v1/fill/w_176,h_136,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/content_.png" width="40" /> 
                                </div>
                                <div class="text">Gain <br/>popularity</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img class="mb-4" src="https://static.wixstatic.com/media/d7ca78_181d130bac0241e3a7b826092cd26561~mv2.png/v1/fill/w_196,h_136,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/social_.png" width="40" /> 
                                </div>
                                <div class="text"> Attract <br/>more customers</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img class="mb-4" src="https://static.wixstatic.com/media/d7ca78_246a70beb94b4e3f9a323de1ff533b85~mv2.png/v1/fill/w_160,h_136,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/asianmarket_.png" width="40" /> 
                                </div>
                                <div class="text">Earn  <br/>extra income</div>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</section>
<div class="container py-5">
    <div class="row g-5">
        <div class="col-md-4 col" data-aos="zoom-in" data-aos-duration="1000">
            <div class="ratio ratio-1x1">
                <img class="object-fit-cover" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit/Hers/homepage/kristen-bell/Hers-Home-KB-d" />
            </div>
        </div>
        <div class="col-md-4 col" data-aos="zoom-in" data-aos-duration="1000">
            <div class="ratio ratio-1x1">
                <img class="object-fit-cover" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit,q_auto:eco/Hers/homepage/Updates/new/Hers-Home-HairQuiz-d" />
            </div>
        </div>
        <div class="col-md-4 col" data-aos="zoom-in" data-aos-duration="1000">
            <div class="ratio ratio-1x1">
                <img class="object-fit-cover" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit/Hers/homepage/Updates/new/Hers-Hair-d" />
            </div>
        </div>
    </div>
   
    
</div>

<section  class="text-center  section-tpl solutions-block bg-dark"  id="solutions">
    <div class="container ">
        <!-- <div class="container">
            <h2 class="mb-5 text-primary" data-aos="fade-up" data-aos-duration="1000">Our Solutions							
            </h2>
            <p class="mb-0 text-primary" data-aos="fade-up" data-aos-duration="1000">For doctors</p>
        </div> -->
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0 ">
                <div class="des text-start">
                    <h5 class="text-primary" data-aos="fade-up" data-aos-duration="1000">
                        <span>  For Brand               </span>
                    </h5>
                    <div class="row-swiper swiper   text-center f-14" data-aos="fade-up" data-aos-duration="1000">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image">
                                    <img class="mb-4" src="https://static.wixstatic.com/media/d7ca78_065634d833754d4f950e2bb343d31a3a~mv2.png/v1/fill/w_148,h_148,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/icubation_.png" width="40" /> 
                                </div>
                                <div class="text">Brand <br/>Incubation</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img class="mb-4" src="https://static.wixstatic.com/media/d7ca78_246a70beb94b4e3f9a323de1ff533b85~mv2.png/v1/fill/w_160,h_136,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/asianmarket_.png" width="40" /> 
                                </div>
                                <div class="text"> SEA Market <br/>Penetration</div>
                            </div>
                        </div>
                       
                        
                       
                    </div>
                        
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="des text-start">
                    <h5 class="text-primary" data-aos="fade-up" data-aos-duration="1000">
                        <span>For Customers  </span>
                    </h5> 

                    <div class="row-swiper swiper  text-center  f-14" data-aos="fade-up" data-aos-duration="1000">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image">
                                    <img class="mb-4" src="https://static.wixstatic.com/media/d7ca78_ebdf2e3fb4d04e2495636d92b40ec3ac~mv2.png/v1/fill/w_176,h_136,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/content_.png" width="40" /> 
                                </div>
                                <div class="text"> Medical<br/> knowledges</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img class="mb-4" src="https://static.wixstatic.com/media/d7ca78_181d130bac0241e3a7b826092cd26561~mv2.png/v1/fill/w_196,h_136,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/social_.png" width="40" /> 
                                </div>
                                <div class="text"> Personalized online consultation</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img class="mb-4" src="https://static.wixstatic.com/media/d7ca78_246a70beb94b4e3f9a323de1ff533b85~mv2.png/v1/fill/w_160,h_136,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/asianmarket_.png" width="40" /> 
                                </div>
                                <div class="text"> Health and beauty products</div>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</section>

<div class="container py-5">
    <div class="row g-5">
        <div class="col-md-6 col" data-aos="zoom-in" data-aos-duration="1000">
            <div class="ratio ratio-16x9">
                <img class="object-fit-cover" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit/Hers/homepage/Updates/Hers-Homepage-UGC-1-DoraPina" />
            </div>
        </div>
        <div class="col-md-6 col" data-aos="zoom-in" data-aos-duration="1000">
            <div class="ratio ratio-16x9">
                <img class="object-fit-cover" src="https://www.forhers.com/forhims/image/upload/q_auto,f_auto,fl_lossy,c_limit/Hers/homepage/Updates/Hers-Skin-AntiAging-UGC-3-MeganJones" />
            </div>
        </div>
    </div>
</div>
