<section class="text-image text-image-66  bg-pink" id="about">
    <div data-aos="fade-right"
         data-popper-placement="center right"
         data-aos-duration="3000"
         class="bg-img" ></div>
    <div class="container-fluid px-0">
        <div  class="row flex-row-reverse text-image-group mb-2r gx-0">
            <div class="col-md-6 img-col mb-3 mb-md-0">
                <div class="ratio ratio-16x9">
                    <img class="img" src="{{webRoot}}/assets/images/d7ca78_d11882b581f0475f9a67a5121169006a_mv2.webp"/>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="text-col text-center">
                    <!-- <div class="mb-5 sub-title">ABOUT US</div> -->
                    <h3 data-aos="fade-right" data-aos-duration="1000" >ABOUT US</h3>
                    <div class="des mb-5" data-aos="fade-left" data-aos-duration="1000">
                        <p>
                            Luciluna is a newly established but fast-growing healthtech startup headquartered in Vietnam. Through our platform, women can connect with their trusted dermatologists, OBGYNs, nutritionists, and other specialists from anywhere, anytime. Our name, Luciluna, is inspired by the first woman found on Earth, and we are dedicated to empowering women to feel healthy and beautiful at their best.
                        </p>
                    </div>
                    <a href="#contact" class="btn btn-primary move-to" data-aos="fade-right" data-aos-duration="1000">REACH US</a>
                </div>
            </div>
        </div>
    </div>
</section>
