<section class="text-image text-image-66 bg-pink" id="career" >
    <div data-aos="fade-right"
         data-popper-placement="center right"
         data-aos-duration="3000"
         class="bg-img" ></div>
    <div class="container-fluid px-0">
        <div  class="row  text-image-group mb-2r gx-0">
            <div class="col-md-6 img-col mb-3 mb-md-0">
                <div class="ratio ratio-16x9">
                    <img class="img" src="{{webRoot}}/assets/images/d7ca78_61cd3c2f9f7643268ee0d36281076b52_mv2_d_3453_1353_s_2.webp"/>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="text-col text-center">
                    <div class="mb-5 sub-title">CAREERS</div>
                    <h3 data-aos="fade-right" data-aos-duration="1000" >JOIN OUR <br/>DREAM TEAM</h3>
                    <div class="des mb-5" data-aos="fade-left" data-aos-duration="1000">
                        <p>
                            Luciluna is an exciting place to be. To us, passion is far more important than experience. We are looking for medical assitstants as well as social media assistants to work with our top-notch doctors.
                        </p>
                    </div>
                    <a href="mailto:people@luciluna.vn" class="btn btn-primary" data-aos="fade-right" data-aos-duration="1000">DROP A CV</a>
                </div>
            </div>
        </div>
    </div>
</section>
			
			
			
			
			
			