.persons {
    
    text-align: center;
    .name {
        text-transform: uppercase;
        // font-weight: 700;
        font-size: 1.4rem;
    }
    
    .ratio {
        margin-bottom: 2rem;
        img {
            object-fit: cover;
        }
    }
    .swiper-button-next ,.swiper-button-prev {
        top :130px;
    }
    @include media-breakpoint-down(lg) {
        .swiper-button-next ,.swiper-button-prev {
            top :188px;
        } 
    }
    @include media-breakpoint-down(md) {
        .swiper-button-next ,.swiper-button-prev {
            top : 83px;
        } 
    }
    @include media-breakpoint-up(lg) {
        .swiper-button-next {
            right: 10px;
            color: black
        }
        .swiper-button-prev {
            left: 10px;
            color: black
        }
    }
}