.solutions-block {
    .des {
        h5.text-primary {
            margin-bottom: 3rem;
            position: relative;
            &:after {
                content:"";
                height: 1px;
                background-color: white;
                opacity: 0.6;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;
            }
            span {
                background-color: inherit;
                position: relative;
                padding-right: 2rem;
                display: inline-block;
            }
        }
        padding: 2rem 0; 
        overflow: hidden;  
        .col {
            margin-bottom: 2rem;
        }
    }
   
    .image img {
        width: auto;
        height: 50px;
    }
    .text {
        font-size: 1rem;
        
      
    }
  
    @include media-breakpoint-down(md) {
        .image img {
            height: 70px;
        }
        .des {
            margin: 0 -2rem;
        }
        h5 {
            padding: 0 2rem;
        }
         .text {
            font-size: 1.2rem;
        }
    }
    
}