main{
    padding-top: 5.3rem;
}
.app-header{
    width: 100%;
    left: 0;
    top: 0;
    background-color: $white;
    z-index: 999999;
    position: fixed;
    .navbar{
        padding: 0;
    }
    .navbar-brand{
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 3px;
        img{
            width: 163px;
        }
       
        
    }
    @include media-breakpoint-up(lg) {
        .language {
            padding-left: 1rem;
        }
       
    }
    .navbar-toggler{
       
        border: none;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
        svg{
            width: 2.4rem;
            height: 2.4rem;
        }
        &:focus{
            box-shadow: none !important;
            border: none !important;
            outline: none !important;
        }
        &.active{
            background-color: rgba(100, 176, 83, 0.5);
        }
    }
   
}

.open-menu{
    .navbar-toggler{
        background-color: rgba(100, 176, 83, 0.5);
    }
}
@include media-breakpoint-down(lg){
    main{
        padding-top: 6.7rem;
    }
    .app-header {
        width: 100%;
        left: 0;
        top: 0;
        padding: 1.2rem 0;
        height: 6.7rem;
    }
    .language {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 6rem;
        ul{
        
            display: flex!important;
        }
    }
    
    .navbar-close {
        margin: 1.6rem 1.6rem 0.2rem;
        padding: 0px;
        line-height: 1;
        font-size: 3.2rem;
        border: none;
        background-color: transparent;
    }
    
}
